#blueBox {
    position: relative;
} 

.blueGiti {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 21px;
    left: 21px;
}
#blueGiti1 {}
#blueGiti2 {
    left: 76px;}
#blueGiti3 {
    top: 76px;}
#blueGiti4 {
    top: 76px;
    left: 76px;}
.blueGiti .gitiCount {
    position: absolute;
    font-size: 0px;
}
.blueGiti .gitiShadow {
    width: 10px;
    height: 10px;
    background-color: blue;
    box-shadow: 0 0 3px #000;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
}