#greenBox {
    position: relative;
} 

.greenGiti {
    width: 30px;
    height: 30px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 21px;
    left: 21px;
}
#greenGiti1 {}
#greenGiti2 {
    left: 76px;}
#greenGiti3 {
    top: 76px;}
#greenGiti4 {
    top: 76px;
    left: 76px;}
.greenGiti .gitiCount {
    position: absolute;
    font-size: 0px;
}
.greenGiti .gitiShadow {
    width: 10px;
    height: 10px;
    background-color: green;
    box-shadow: 0 0 3px #000;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
}