
#redbox {
    position: relative;
    /* border-radius: 50%; */
}
.redGiti {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 21px;
    left: 21px;
}
#redGiti1 {}
#redGiti2 {
    left: 76px;}
#redGiti3 {
    top: 76px;}
#redGiti4 {
    top: 76px;
    left: 76px;}
.redGiti .gitiCount {
    position: absolute;
    font-size: 0px;
}
.redGiti .gitiShadow {
    width: 10px;
    height: 10px;
    background-color: red;
    box-shadow: 0 0 3px #000;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
}