#yellowBox {
    position: relative;
} 

.yellowGiti {
    width: 30px;
    height: 30px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 21px;
    left: 21px;
}
#yellowGiti1 {}
#yellowGiti2 {
    left: 76px;}
#yellowGiti3 {
    top: 76px;}
#yellowGiti4 {
    top: 76px;
    left: 76px;}
.yellowGiti .gitiCount {
    position: absolute;
    font-size: 0px;
}
.yellowGiti .gitiShadow {
    width: 10px;
    height: 10px;
    background-color: yellow;
    box-shadow: 0 0 3px #000;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    margin-left: 7px;
    margin-top: 7px;
}